.container {
    display: flex;

    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    gap: 30px;

    width: 542px;
    /* width: 100vw; */
    height: 100vh;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    
    /* width: 100vw; */
    /* height: 100vh; */
}