.screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
    padding: 4px 8px;
    gap: 10px;

    /* width: 232px; */
    height: 52px;

    background: #F3F4F6;
    border-radius: 6px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    /* display: flex;
    align-items: flex-end;
    text-align: right; */

    /* gray/900 */

    color: #111827;


    /* Inside auto layout */

    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
}